.maps-img{
    width: 60%;
    height: 500px;
    align-items: center;
    display: flex;

}
contact-map{
    justify-content: center;
    text-align: center;
    margin-top: 5vh;
}

.location-textbox1{
    margin-top: 3vh;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Zalando Sans Expanded', sans-serif;
    font-weight: 400;
}
.socials{
    margin-top: 3vh;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Zalando Sans Expanded', sans-serif;
    font-weight: 400;
}
.contact-info{
    margin-top: 1vh;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Zalando Sans Expanded', sans-serif;
    font-weight: 200;
}