.maps-img {
    width: 30%;
    border-radius: 30px;
    border-style: solid;
    border-width: 4px;
    border-color: black;
    margin-right: 0.5%;
}

.maps-img2{
    width: 50%;
    height: 60%;
    border-radius: 30px;
    border-style: solid;
    border-width: 4px;
    border-color: black;
    margin-left: 0;
}

.contact-map {
    justify-content: center;
    text-align: center;
    margin-top: 5vh;
}

.location-textbox1 {
    margin-top: 1vh;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Zalando Sans Expanded', sans-serif;
    font-weight: 400;
}

.location-textbox1 h1,
.info-textbox2 h1,
.info-textbox3 h1 {
    font-weight: 700;
    color: rgb(196, 35, 35);
}

.socials {
    margin-top: 3vh;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Zalando Sans Expanded', sans-serif;
    font-weight: 400;
}

.contact-info {
    margin-top: 1vh;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Zalando Sans Expanded', sans-serif;
    font-weight: 200;
}

.google-maps-images {
    display: flex;
}