.home-photos{
    margin-left: 6vw;
    margin-right: 5vw;
    margin-top: 3vh;
    display:flex;
}

.home-photos .img-1{
    width:70%;
    height: 70vh;
    border-radius:20px;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.152)
}

.home-photos-sub{
    margin-left:1vh;
}

.home-photos-sub img{
    width:100%;
    height: 31vh;
    border-radius:20px;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.152)
}

.home-photos .img-2{
    margin-bottom:0.5vh;
    height:38vh;
}

.intro-text{
    margin-top: 3vh;
    margin-left: 11vh;
    margin-right: 11vh;
}

.intro-text h1{
    font-weight: 700;
    color: rgb(196, 35, 35);
    margin-bottom: 2vh;
    margin-top: 2vh;
}

.intro-text h3{
    text-indent: 4vw;
    line-height: 2.5rem;
}
